@import "../variables";

@mixin help-ext-content() {
  font-family: $help-ext-font-family;
  line-height: 1.4;

  table {
    border-collapse: collapse;

    /* Apply a default padding if legacy cellpadding attribute is missing */
    &:not([cellpadding]) {
      th,
      td {
        padding: 0.4rem;
      }
    }

    /* Set default table styles if a table has a positive border attribute and no inline css */
    &[border]:not([border="0"]):not([style*="border-width"]) {
      th,
      td {
        border-width: 1px;
      }
    }

    /* Set default table styles if a table has a positive border attribute and no inline css */
    &[border]:not([border="0"]):not([style*="border-style"]) {
      th,
      td {
        border-style: solid;
      }
    }
  }

  figure {
    display: table;
    margin: 1rem auto;

    figcaption {
      display: block;
      margin-top: 0.25rem;
      text-align: center;
    }
  }

  hr {
    border-style: solid;
    border-width: 1px 0 0 0;
  }

  code {
    border-radius: 3px;
    padding: 0.1rem 0.2rem;
  }

  .mce-content-body:not([dir="rtl"]) blockquote {
    border-left-width: 2px;
    border-left-style: solid;
    margin-left: 1.5rem;
    padding-left: 1rem;
  }

  .mce-content-body[dir="rtl"] blockquote {
    border-right-width: 2px;
    border-right-style: solid;
    margin-right: 1.5rem;
    padding-right: 1rem;
  }
}
